:host {
  display: block;
}

.app-footer__inner {
  border-top: 1px solid var(--p-surface-200);
  background: var(--app-color-card);
  padding: 3rem 0 2rem;

  @mixin host-dark {
    border-top-color: var(--p-surface-800);
  }
}

.app-footer__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app-footer__grid {
  display: grid;
  gap: 2rem;
  padding-bottom: 2rem;

  @media (--md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.5rem;
  }
}

.app-footer__brand {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.app-footer__logo {
  display: inline-flex;
  align-items: center;
}

.app-footer__logo-light {
  display: none;
  width: auto;
  height: 3rem;
  @mixin host-dark {
    display: block;
  }
}

.app-footer__logo-dark {
  width: auto;
  height: 3rem;
  @mixin host-dark {
    display: none;
  }
}

.app-footer__brand-text {
  max-width: 24rem;
  font-size: var(--text-sm);
  line-height: 1.5rem;

  @mixin host-light-dark color, var(--p-surface-600), var(--p-surface-300);
}

.app-footer__socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.app-footer__social-icon {
  width: 18px;
  height: 18px;
  color: var(--p-text-muted-color);
}

.app-footer__social-btn:not(:hover) .app-footer__social-icon {
  fill: currentColor;
}

.app-footer__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.app-footer__col-title {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  font-weight: 700;

  @mixin host-light-dark color, var(--p-surface-900), var(--p-surface-50);
}

.app-footer__col-title-divider {
  display: block;
  width: 2rem;
  height: 1px;

  @mixin host-light-dark background, var(--p-surface-300), var(--p-surface-700);
}

.app-footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.app-footer__link {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  transition: color 150ms ease;

  @mixin host-light-dark color, var(--p-surface-600), var(--p-surface-300);

  &:hover {
    @mixin host-light-dark color, var(--p-primary-600), var(--p-primary-300);
  }
}

.app-footer__bottom {
  border-top: 1px solid var(--p-surface-200);
  padding-top: 1.5rem;

  @mixin host-dark {
    border-top-color: var(--p-surface-800);
  }
}

.app-footer__copyright {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);

  @mixin host-light-dark color, var(--p-surface-500), var(--p-surface-400);
}
