:host {
  position: relative;
  z-index: 40;
  display: block;
  height: 4rem;
  border-bottom: 1px solid var(--p-surface-200);
  background: var(--app-color-card);

  @mixin host-dark {
    border-bottom-color: var(--p-surface-800);
  }

  @media (--lg) {
    height: 5rem;
  }
}

.app-header__inner {
  height: 100%;
}

.app-header__logo {
  display: flex;
  min-width: 0;
  height: 2.5rem;
  flex-shrink: 0;
  align-items: center;

  @media (--lg) {
    display: none;
  }
}

.app-header__logo-light {
  display: none;
  width: auto;
  height: 100%;
  @mixin host-dark {
    display: block;
  }
}

.app-header__logo-dark {
  width: auto;
  height: 100%;
  @mixin host-dark {
    display: none;
  }
}

.app-header__actions {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-inline-start: auto;
  margin-inline-end: 0;

  @media (--md) {
    gap: 0.625rem;
  }
}
.app-header__divider {
  display: none;
  width: 1px;
  height: 2.5rem;
  margin-inline: 0.25rem;
  background: var(--p-surface-200);

  @mixin host-dark {
    background: var(--p-surface-700);
  }

  @media (--lg) {
    display: block;
  }
}
