:root,
.dark {
  --p-card-shadow: none;
}

:root {
  --c-card-background: var(--app-color-card);
  --c-card-color: var(--p-surface-900);
  --c-card-header-background: #ffffff;
  --c-card-border: var(--p-surface-200);
  --c-card-padding-x: 1rem;
  --c-card-padding-y: 1rem;
  --c-card-header-padding-y: 1rem;
  --p-card-body-padding: var(--c-card-padding-y) var(--c-card-padding-x);
  --p-card-body-gap: 0;

  @screen lg {
    --c-card-padding-x: 1.5rem;
    --c-card-padding-y: 1.5rem;
  }
}

.dark {
  --c-card-background: var(--app-color-card);
  --c-card-header-background: #1e2023;
  --c-card-color: var(--p-surface-50);
  --c-card-border: var(--p-surface-800);
}

/* PrimeNG Card (p-card) customization block */

/* Adjust datatable edge padding when inside a card with inset table variant */

/* Custom card header utils for padding */

.c-card-header-inset {
  padding: var(--c-card-header-padding-y) var(--c-card-padding-x);
}

.c-card-header-inset-x {
  padding-inline: var(--c-card-padding-x);
}

.c-card-header-inset-y {
  padding-block: var(--c-card-header-padding-y);
}

/* Custom card body utils for padding */

.c-card-body-inset {
  padding: var(--c-card-padding-y) var(--c-card-padding-x);
}

.c-card-body-inset-x {
  padding-inline: var(--c-card-padding-x);
}

.c-card-body-inset-y {
  padding-block: var(--c-card-padding-y);
}

/* Custom card elements */

.c-card-title {
  @apply text-sm font-bold uppercase tracking-wide text-surface-900 dark:text-surface-50;
}

.p-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--c-card-border);
  background-color: var(--c-card-background);
  color: var(--c-card-color);
}

.p-card-body,
.p-card-content {
  flex-grow: 1;
  min-height: 0;
}

.p-card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  background-color: var(--c-card-header-background);
  border-bottom: 1px solid var(--c-card-border);
  padding-inline: var(--c-card-padding-x);
  padding-block: var(--c-card-header-padding-y);
}

.p-card .p-datatable[data-inset='card'] {
  --c-datatable-header-edge-padding-start: var(--c-card-padding-x);
  --c-datatable-header-edge-padding-end: var(--c-card-padding-x);
  --c-datatable-edge-padding-start: var(--c-card-padding-x);
  --c-datatable-edge-padding-end: var(--c-card-padding-x);
  --p-datatable-row-background: var(--c-card-background);
}
