:root {
  --c-page-padding-y: 1.5rem;
  --c-page-gap: 1.5rem;

  @screen lg {
    --c-page-padding-y: 2.5rem;
    --c-page-gap: 1.75rem;
  }
}

.app-page {
  @apply flex flex-col py-[--c-page-padding-y] gap-[--c-page-gap];
}

.app-page--flush {
  --c-page-padding-y: 0;
}
