@layer properties {
  :root {
    --c-page-padding-y: --spacing(6);
    --c-page-gap: --spacing(6);

    @variant lg {
      --c-page-padding-y: --spacing(10);
      --c-page-gap: --spacing(7);
    }
  }
}

@layer components {
  .app-page {
    @apply flex flex-col py-(--c-page-padding-y) gap-(--c-page-gap);
  }

  .app-page--flush {
    --c-page-padding-y: 0;
  }
}
