.c-rows {
  border-block: 1px solid var(--p-surface-200);

  @mixin dark {
    border-block-color: var(--p-surface-800);
  }
}

.c-rows > :not(:last-child) {
  border-bottom: 1px solid var(--p-surface-200);

  @mixin dark {
    border-bottom-color: var(--p-surface-800);
  }
}

.c-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 0.75rem;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.c-row__label {
  color: var(--p-text-muted-color);
}

.c-row__value {
  font-weight: 600;

  @mixin light-dark color, var(--p-surface-900), var(--p-surface-0);
}
