:root,
.dark {
  --c-scrollbar-thumb-border-radius: 10px;
  --c-scrollbar-size: 4px;
}

:root {
  --c-scrollbar-thumb-color: var(--p-surface-300);

  @mixin dark {
    --c-scrollbar-thumb-color: var(--p-surface-800);
  }
}

::-webkit-scrollbar {
  width: var(--c-scrollbar-size);
  height: var(--c-scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-thumb-color);
  border-radius: var(--c-scrollbar-thumb-border-radius);
}
