@layer base {
  :root,
  .dark {
    --c-scrollbar-thumb-border-radius: 10px;
    --c-scrollbar-size: 4px;
  }
  :root {
    --c-scrollbar-thumb-color: var(--p-surface-300);
  }
  .dark {
    --c-scrollbar-thumb-color: #27272a;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: var(--c-scrollbar-size);
    height: var(--c-scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar-thumb-color);
    border-radius: var(--c-scrollbar-thumb-border-radius);
  }
}
