:root {
  --c-tag-font-size-sm: 0.75rem;
  --c-tag-padding-y-sm: 0.1875rem;
  --c-tag-padding-x-sm: 0.5rem;
  --c-tag-gap-sm: 0.25rem;
  --c-tag-icon-size-sm: 0.75rem;

  /* Use small sizes by default */
  --p-tag-font-size: var(--c-tag-font-size-sm);
  --p-tag-padding: var(--c-tag-padding-y-sm) var(--c-tag-padding-x-sm);
  --p-tag-gap: var(--c-tag-gap-sm);
  --p-tag-icon-size: var(--c-tag-icon-size-sm);
}
