{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "plugins": ["prettier-plugin-classnames"],
  "customFunctions": ["cn", "cva", "clsx"],
  "customAttributes": ["classNames", "classes", "styleClass", "ngClass", "pClass", "[pClass]", "[class]"],
  "endingPosition": "absolute",
  "bracketSameLine": true
}
