.c-investment-input-field {
  @apply flex flex-col gap-2;
}

.c-investment-input-field__label {
  @apply px-1 text-[10px] font-bold uppercase text-surface-500;
}

.c-investment-input-field__split-wrap {
  @apply flex;
}

.c-investment-input-field__input {
  @apply w-full rounded-lg border border-surface-200 bg-white text-surface-900
  dark:border-surface-800 dark:bg-surface-950/40 dark:text-surface-50
  px-4 py-3 text-lg font-bold outline-none transition-colors focus:border-primary/50;
}

.c-investment-input-field__input--split {
  @apply rounded-r-none;
}

.c-investment-input-field__suffix {
  @apply rounded-r-lg border border-l-0 border-surface-200 bg-surface-50 px-4 text-lg font-bold text-surface-400 flex items-center;
  @mixin dark {
    border-color: var(--p-surface-800);
    background-color: var(--p-surface-900);
  }
}
