@reference '../../../styles.css';

:host {
  @apply block;

  --sidebar-transition-duration: 0.3s;
  --sidebar-transition-timing: ease;
  --sidebar-width-collapsed: 5rem;
  --sidebar-width-expanded: 16rem;

  --sidebar-width: var(--sidebar-width-expanded);
  --sidebar-topbar-height: 5rem;
  --sidebar-toggle-size: --spacing(7);
}

:host.app-shell--sidebar-collapse {
  --sidebar-width: var(--sidebar-width-collapsed);
}

.app-shell {
  @apply flex h-dvh overflow-hidden;
}

.app-shell__sidebar {
  @apply shrink-0;
}

.app-shell__content {
  @apply relative h-dvh min-w-0 flex-1 flex-col pb-15 lg:pb-0;
  display: grid;
  grid-template-rows: auto 1fr;

  @variant lg {
    padding-inline-start: var(--sidebar-width);
    transition: padding-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
  }
}

.app-shell__header {
  @apply shrink-0;
}

.app-shell__body {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-y: auto;
}

.app-shell__main {
}

.app-shell__footer {
  @apply shrink-0;
}
