@layer properties {
  :root {
    --c-button-sm-padding-x: 0.75rem;
    --c-button-sm-padding-y: 0.375rem;
    --c-button-sm-min-height: 1.875rem;
    --c-button-sm-font-size: 0.6875rem;
    --c-button-sm-gap: 0.375rem;

    --c-button-outlined-secondary-background: var(--color-zinc-50);
    --c-button-outlined-secondary-hover-background: var(--color-zinc-100);
    --c-button-outlined-secondary-active-background: var(--color-zinc-200);

    --p-button-sm-padding-x: var(--c-button-sm-padding-x);
    --p-button-sm-padding-y: var(--c-button-sm-padding-y);
    --p-button-sm-font-size: var(--c-button-sm-font-size);
    --p-button-sm-icon-only-width: var(--c-button-sm-min-height);

    --p-button-border-radius: var(--radius-lg);
    --p-button-outlined-secondary-border-color: var(--color-zinc-200);
    --p-button-outlined-secondary-color: var(--color-zinc-700);
    --p-button-outlined-secondary-hover-background: var(--c-button-outlined-secondary-hover-background);
    --p-button-outlined-secondary-active-background: var(--c-button-outlined-secondary-active-background);
  }

  .dark {
    --c-button-outlined-secondary-background: --alpha(var(--color-zinc-800) / 70%);
    --c-button-outlined-secondary-hover-background: var(--color-zinc-800);
    --c-button-outlined-secondary-active-background: --alpha(var(--color-zinc-700) / 85%);

    --p-button-outlined-secondary-border-color: var(--color-zinc-700);
    --p-button-outlined-secondary-color: var(--color-zinc-300);
  }
}

@layer components {
  :where(.p-button-sm) {
    border-radius: var(--radius-md);
    min-height: var(--c-button-sm-min-height);
    gap: var(--c-button-sm-gap);
    letter-spacing: normal;
    line-height: 1;
  }
}

@layer primeng {
  .p-button-outlined.p-button-secondary {
    background: var(--c-button-outlined-secondary-background);
  }
}
