@import './styles/fonts.css';
@import './styles/_theme-variables.css';
@import './styles/colors.css';

@import './styles/utilities.css';
@import './styles/container.css';

@import './styles/scrollbar.css';
@import './styles/button.css';
@import './styles/menu.css';
@import './styles/card.css';
@import './styles/message.css';
@import './styles/alert.css';
@import './styles/tag.css';
@import './styles/dialog.css';
@import './styles/form-controls.css';
@import './styles/select.css';
@import './styles/avatar.css';
@import './styles/stat-card.css';
@import './styles/page-heading.css';
@import './styles/pill-tabs.css';
@import './styles/checkbox.css';
@import './styles/popover.css';
@import './styles/pagination.css';
@import './styles/rows.css';
@import './styles/table.css';
@import './styles/toast.css';

@import './styles/page.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    background-color: var(--p-surface-100);
    color: var(--p-surface-900);
    font-variant-ligatures: none;
    font-family: var(--font-sans);
    line-height: 1.375;
  }

  .dark body {
    background-color: var(--app-color-dark);
    color: var(--p-surface-50);
  }

  body,
  html {
    height: 100%;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  body {
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .lucide,
  svg {
    flex-shrink: 0;
  }

  router-outlet {
    display: none;
  }
}
