@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import './styles/fonts.css';
@import './styles/variables.css';
@import './styles/utilities.css';

@import './styles/scrollbar.css';
@import './styles/button.css';
@import './styles/menu.css';
@import './styles/card.css';
@import './styles/message.css';
@import './styles/alert.css';
@import './styles/dialog.css';
@import './styles/form-controls.css';
@import './styles/avatar.css';
@import './styles/menu.css';
@import './styles/stat-card.css';
@import './styles/page-heading.css';
@import './styles/pill-tabs.css';
@import './styles/checkbox.css';

@import './styles/page.css';

@source not "../old";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
  }

  body {
    @apply bg-surface-100 text-surface-900 dark:bg-dark dark:text-surface-50 min-h-screen;
    font-variant-ligatures: none;
    font-family: 'TTNorms', sans-serif;
  }

  body,
  html {
    height: 100%;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  body {
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .lucide,
  svg {
    flex-shrink: 0;
  }

  router-outlet {
    display: none;
  }
}
