@define-mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@define-mixin line-clamp $lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

@define-mixin size $width, $height: $width {
  width: $width;
  height: $height;
}
